<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<HTML>
  <HEAD>
    <TITLE>gov.nih.mipav.view Package Summary</TITLE>
  </HEAD>
  <BODY>
  The gov.nih.mipav.view package contains Objects which are displayed on the 
screen.  The screen elements include various user-interaction dialogs, frames 
and the image elements themselves.
<p>
The derivations of each items are keyed as a part of the names themselves; for 
instance <tt>ViewJFrameImage</tt> is a class for images and extends 
<tt>ViewJFrameBase</TT>.
  </BODY>
</HTML>
