<VABRA>
	<Levels>
		<Level xpoints="3"></Level>
		<Level xpoints="4"></Level>
		<Level xpoints="5"></Level>
		<Level xpoints="6"></Level>
		<Level xpoints="7"></Level>
		<Level xpoints="8"></Level>
		<Level xpoints="9"></Level>
		<Level xpoints="10"></Level>
		<Level xpoints="12"></Level>
		<Level xpoints="16"></Level>
		<Level xpoints="20"></Level>
		<Level xpoints="26"></Level>		
	</Levels>
	<Resolutions>
		<Resolution downSampleFactor="4"></Resolution>
		<Resolution downSampleFactor="2"></Resolution>
		<Resolution downSampleFactor="1"></Resolution>		
	</Resolutions>
	<ResolutionSwitchPoints>
		<SwitchPoint level="4"></SwitchPoint>
		<SwitchPoint level="9"></SwitchPoint>		
	</ResolutionSwitchPoints>
	<AffineRegistration degrees="0" channel="0"></AffineRegistration>
</VABRA>
